.preview 
  &__list
    display inline-flex
    flex-direction column

    &-item
      & + &
        margin-top vw(20)

    &-text
      padding vw(10) vw(20)
      background-color #F1F1F1
      border-radius vw(5)

  &__children
    margin-top vw(65)

