.header
  box-shadow: 0px 1px 0px rgba(17, 17, 17, 0.1);
  margin-bottom vw(36)

  &__inner
    display flex
    align-items center
    height vw(76)
    padding 0 vw(92)

  &__list
    margin-left vw(473)

    &-item
      display inline-block

      & + &
        margin-left vw(24)

    &-link
      c rgba(17, 17, 17, 0.48)