html,
body
	height 100%
	ff $gt
	font-weight 400
	font-size vw(14)
	line-height vw(14)
	color #111

.container
	width vw(646)
	margin 0 auto
	padding 0 vw(15)

.title
	font-weight 500
	font-size vw(16)
	margin-bottom vw(24)

.text
	font-weight 700
	font-size vw(16)
	line-height vw(24)

.logo
	&__img
		object-fit cover
		width vw(93)
		height vw(29)		